<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/css/oksub.css">
    <script type="text/javascript" src="/static/admin/lib/loading/okLoading.js"></script>
</head>
<body>
<div class="ok-body">

    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="/static/admin/lib/layui/layui.js"></script>
<script>
    layui.use(["table", "okLayer", "okUtils"], function () {
        let table = layui.table;
        let util = layui.util;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        okLoading.close();
        util.fixbar({});


        let articleTable = table.render({
            elem: "#tableId",
            url: '/admin/themes/getAll',
            limit: 20,
            even: true,
            toolbar: "#toolbarTpl",
            size: "lg",
            cols: [[
                {type: "checkbox", fixed: "left"},
                {field: "id", title: "ID", width: 80, sort: true},
                {field: "name", title: "题材", width: 200},
                {field: "status", title: "状态", width: 100, align: "center", templet: "#statusTpl"},
                {field: "sort", title: "所属", width: 100, sort: true},
                {field: "belongsType", title: "sort", width: 100, sort: true},
                {field: "create_time", title: "创建日期", width: 180},
                {title: "操作", width: 200, align: "center", fixed: "right", templet: "#operationTpl"}
            ]],
            done: function (res, curr, count) {
                console.log(res, curr, count)
            }
        });


        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "add":
                    add();
                    break;
            }
        });

        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "updateById":
                    updateById(data.id);
                    break;
                case "deleteById":
                    deleteById(data.id);
                    break;
            }
        });


        function add() {
            okLayer.open("添加题材", "/admin/themes/create", "20%", "40%", null, function () {
                articleTable.reload();
            })
        }

        function updateById(id) {
            okLayer.open("编辑题材", "/admin/themes/" + id+'/edit', "20%", "40%", null, function () {
                articleTable.reload();
            })
        }

        function deleteById(id) {
            okLayer.confirm("确定要删除吗？", function () {
                okUtils.ajax("/admin/themes/"+id, "delete", {idsStr: id}).done(function (response) {
                    okUtils.tableSuccessMsg(response.msg);
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                }).fail(function (error) {
                });
            })
        }
    })
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="add">添加题材</button>
    </div>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
    <a href="javascript:" title="编辑" lay-event="updateById"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:" title="删除" lay-event="deleteById"><i class="layui-icon">&#xe640;</i></a>
</script>

<script type="text/html" id="statusTpl">
    {{#  if(d.status == 1){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">正常状态</span>
    {{#  } else { }}
    <span class="layui-btn layui-btn-danger layui-btn-xs">已被禁用</span>
    {{#  } }}
</script>

</body>
</html>
